body {
  font-family: 'Segoe UI', sans-serif;
  background: #020617;
  color: white;
}

h1 {
  margin-bottom: 20px;
}

.card {
  background: #0f172a;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
}

.card a {
  margin: 10px;
  display: inline-block;
  background: cyan;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}